    <!-- Footer section -->
    <footer>
        <div class="social-links">    
            &copy; 2023
            JMB News
            <a href="/partials/about">About</a>
            <a href="/partials/contact">Contact</a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </footer>
</body>
</html>