<%- include('./partials/header.ejs')%>
    <!-- Main content section -->
    <div class="content">
        <h1>Welcome to JMB News</h1>
        <p>Your go-to platform for staying informed and engaged with the vibrant happenings within different categories!</p>
        <p>This dynamic website experience with the goal of keeping you in the loop about all the exciting events and activities taking place.</p>
        <p>Whether you're a student, a parent, or a faculty member, JMB News is designed to be your reliable source for timely updates and a hub for event creation.</p>
        <p>Visit the Events section to explore the events currently on offer!</p>
    </div>
    <%- include('./partials/footer.ejs')%>
